@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

input,
select,
button {
  outline: none;
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  background: #fff;
}

.title {
  text-align: center;
  color: #A9DEF9;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 25px;
}

.header {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}

.header.fixed-top {
  padding: 44px 0;
}

.header.fixed-top .header-nav {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 22;
  padding: 44px 0;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  left: 0;
  height: 30px;
  z-index: 22;
}

.header-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav.fixed-top {
  background: #fff;
  position: fixed;
  padding: 44px 0;
  top: 0;
}

.header-logo img {
  height: 70px;
  width: 120px;
  position: relative;
  z-index: 2;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.header-menu__link {
  color: #000;
  font-size: 18px;
}

.header-menu__link_active {
  color: #faa3fb;
}

.header-menu__link:hover {
  color: #faa3fb;
}

.header-burger {
  width: 30px;
  height: 12px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

.header-burger div {
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 9px;
  position: absolute;
  left: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-burger div:nth-child(1) {
  top: 0;
}

.header-burger div:nth-child(4) {
  top: 12px;
}

.header-burger div:nth-child(2),
.header-burger div:nth-child(3) {
  top: 6px;
}

.header-burger.show div:nth-child(1),
.header-burger.show div:nth-child(4) {
  left: 50%;
  width: 0;
  top: 6px;
}

.header-burger.show div:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-burger.show div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sweet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}

.sweet_left {
  font-size: 25px;
}

.sweet_left h1 {
  max-width: 300px;
}

.sweet_right-img {
  height: 880px;
  width: 880px;
}

.comp {
  padding: 150px 0 150px 0;
  background: #bafbb5;
}

.comp .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.comp .container .inner {
  max-width: 450px;
  margin-right: 100px;
}

.comp .container .inner img {
  width: 500px;
  height: 600px;
}

.comp .container .right {
  text-align: start;
}

.comp .container .right h2 {
  color: #bea2ff;
}

.comp .container .right p {
  max-width: 350px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: start;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 300;
  padding-bottom: 30px;
}

.comp .container .right .more {
  background: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 12px;
  color: #333333;
  padding: 25px 58px;
  border: none;
  padding-top: 22px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.comp .container .right .more i {
  margin-left: 5px;
  font-size: 16px;
}

.comp .container .right .more:hover {
  background: #A9DEF9;
}

.products {
  background: #faa3fb;
  padding: 50px 0 100px 0;
}

.products .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.products .gallery-item {
  padding: 2px;
  position: relative;
}

.products .gallery-item img {
  max-width: 100%;
  max-height: 100%;
}

.products .gallery-item:hover .gallery-item__content {
  opacity: 1;
}

.products .gallery-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: #a9def9d7;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.products .gallery-item__content a {
  color: #fff;
  font-size: 20px;
}

.products .end {
  text-align: center;
}

.products .more {
  background: #fff;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 12px;
  color: #333333;
  padding: 25px 58px;
  border: none;
  margin-top: 22px;
  font-family: Montserrat;
  font-weight: 600;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.products .more:hover {
  background: #A9DEF9;
}

.contact {
  padding-bottom: 100px;
}

.contact .content img {
  width: 700px;
  height: 700px;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact .title {
  padding-top: 100px;
}

.contact .contact-form {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 373;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact .contact-form .name,
.contact .contact-form .number,
.contact .contact-form .mail {
  background: #A9DEF9;
  border: none;
  max-width: 391px;
  height: 73px;
  padding: 17px 0 18px 22px;
  margin-top: 9px;
  font-family: 'Montserrat', sans-serif;
}

.contact .contact-form .msg {
  background: #A9DEF9;
  margin-top: 9px;
  outline: none;
  border: none;
  width: 391px;
  resize: none;
  padding: 17px 0 0 22px;
  text-decoration: none;
  height: 200px;
}

.contact .contact-form p {
  margin-top: 10px;
  width: 391px;
}

.contact .contact-form .btn {
  margin-top: 10px;
  height: 63px;
  width: 100%;
  background: #fff;
  border: 2px solid #A9DEF9;
  font-size: 20px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
  color: #A9DEF9;
}

.contact .contact-form .btn:hover {
  background: #A9DEF9;
  color: #fff;
}

.contact .contact-form .name,
.contact .contact-form .number,
.contact .contact-form .mail,
.contact .contact-form .msg {
  font-size: 20px;
  border-radius: 5px;
}

.contact .contact-form .name::-webkit-input-placeholder,
.contact .contact-form .number::-webkit-input-placeholder,
.contact .contact-form .mail::-webkit-input-placeholder,
.contact .contact-form .msg::-webkit-input-placeholder {
  font-size: 15px;
  color: #fff;
}

.contact .contact-form .name::-moz-placeholder,
.contact .contact-form .number::-moz-placeholder,
.contact .contact-form .mail::-moz-placeholder,
.contact .contact-form .msg::-moz-placeholder {
  font-size: 15px;
  color: #fff;
}

.contact .contact-form .name:-ms-input-placeholder,
.contact .contact-form .number:-ms-input-placeholder,
.contact .contact-form .mail:-ms-input-placeholder,
.contact .contact-form .msg:-ms-input-placeholder {
  font-size: 15px;
  color: #fff;
}

.contact .contact-form .name::-ms-input-placeholder,
.contact .contact-form .number::-ms-input-placeholder,
.contact .contact-form .mail::-ms-input-placeholder,
.contact .contact-form .msg::-ms-input-placeholder {
  font-size: 15px;
  color: #fff;
}

.contact .contact-form .name::placeholder,
.contact .contact-form .number::placeholder,
.contact .contact-form .mail::placeholder,
.contact .contact-form .msg::placeholder {
  font-size: 15px;
  color: #fff;
}

.footer {
  background: #bea2ff;
  height: 100%;
  padding-bottom: 50px;
}

.footer .container {
  padding-top: 50px;
}

.footer-logo img {
  height: 90px;
  width: 140px;
}

.footer-menu li {
  margin-top: 10px;
  padding: 5px 0px 5px 0;
}

.footer-menu li a:hover {
  color: #fff;
}

.footer-contact li {
  margin-top: 10px;
  padding: 5px 0px 5px 0;
}

.footer-contact li a {
  color: #000;
  padding-left: 9px;
}

.footer-contact li a:hover {
  color: #fff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  text-align: center;
}

.footer-social a {
  font-size: 24px;
  color: #000;
  padding: 20px;
  padding-left: 0;
}

@media (max-width: 1199.98px) {
  .sweet_right-img {
    width: 700px;
    height: 700px;
  }

  .contact .content img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 991.98px) {
  .header-menu {
    max-width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: none;
  }

  .header-menu__link {
    padding: 20px 0;
    display: inline-block;
  }

  .header-burger {
    display: block;
  }

  .sweet_left h1 {
    width: 200px;
  }

  .sweet_right-img {
    width: 550px;
    height: 550px;
  }

  .comp .container .inner {
    margin-right: 0px;
  }

  .comp .container .inner img {
    width: 400px;
    height: 500px;
  }

  .comp .container .right p {
    width: 300px;
    height: 500px;
    padding-bottom: 10px;
  }

  .products .gallery-item:nth-child(3),
  .products .gallery-item:nth-child(5) {
    display: none;
  }

  .contact .content {
    display: none;
  }

  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-menu {
    margin-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .sweet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sweet_left h1 {
    width: 300px;
  }

  .comp .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .comp .container .inner {
    width: 300px;
  }

  .comp .container .right {
    text-align: center;
  }

  .comp .container .right h2 {
    margin-top: 20px;
  }

  .comp .container .right p {
    font-size: 15px;
    text-align: center;
  }

  .footer-menu {
    margin-bottom: 50px;
  }
}

@media (max-width: 575.98px) {
  .sweet_right-img {
    width: 350px;
    height: 350px;
  }

  .sweet_right-img {
    width: 300px;
    height: 300px;
  }

  .comp .container .inner img {
    width: 300px;
    height: 400px;
  }

  .products .gallery-item img {
    height: 70%;
    width: 50%;
  }

  .contact .contact-form .name,
  .contact .contact-form .number,
  .contact .contact-form .mail,
  .contact .contact-form .msg,
  .contact .contact-form p,
  .contact .contact-form .btn {
    width: 300px;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-logo {
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-menu {
    text-align: center;
  }

  .footer-contact {
    text-align: center;
  }

  .footer .soc {
    text-align: center;
    margin-top: 40px;
  }

  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
  }

  .footer-social {
    margin-top: 10px;
  }
}
